### Reading the required libraries

In [1]:
import shapefile #the pyshp module
import pandas as pd
import numpy as np
import re

In [2]:
# Reading the shape files from the path
shapefile_path = r'll_gda94/sde_shape/whole/VIC/PTV/layer/ptv_metro_train_station.shp'
sf = shapefile.Reader(shapefile_path)

In [3]:
# Assigning variables to extract the fields
fields = [x[0] for x in sf.fields][1:]
records = sf.records()
shps = [s.points for s in sf.shapes()]

#write the records into a dataframe
shapefile_dataframe = pd.DataFrame(columns=fields, data=records)

In [4]:
shapefile_dataframe.head()

,STOP_ID,STOP_NAME,LATITUDE,LONGITUDE,TICKETZONE,ROUTEUSSP
0,19966,Moreland Railway Station (Coburg),-37.754485,144.961823,1,Upfield
1,19967,Anstey Railway Station (Brunswick),-37.761242,144.960684,1,Upfield
2,19968,Brunswick Railway Station (Brunswick),-37.767721,144.959587,1,Upfield
3,19969,Jewell Railway Station (Brunswick),-37.774987,144.958717,1,Upfield
4,19970,Royal Park Railway Station (Parkville),-37.781193,144.952301,1,Upfield

In [5]:
#add the coordinate data to a column called "coords"
shapefile_dataframe = shapefile_dataframe.assign(coords=shps)

In [6]:
shapefile_dataframe.head()

,STOP_ID,STOP_NAME,LATITUDE,LONGITUDE,TICKETZONE,ROUTEUSSP,coords
0,19966,Moreland Railway Station (Coburg),-37.754485,144.961823,1,Upfield,"[[144.96182299999998, -37.754484999]]"
1,19967,Anstey Railway Station (Brunswick),-37.761242,144.960684,1,Upfield,"[[144.96068400000001, -37.76124199899999]]"
2,19968,Brunswick Railway Station (Brunswick),-37.767721,144.959587,1,Upfield,"[[144.95958700000006, -37.767720999000005]]"
3,19969,Jewell Railway Station (Brunswick),-37.774987,144.958717,1,Upfield,"[[144.95871699999998, -37.774986998999964]]"
4,19970,Royal Park Railway Station (Parkville),-37.781193,144.952301,1,Upfield,"[[144.95230100000003, -37.781192998999984]]"

In [7]:
shapefile_dataframe.shape

(217, 7)

In [8]:


# shapefile_path = r'll_gda94/sde_shape/whole/VIC/PTV/layer/ptv_train_station_platform.shp'
# sf = shapefile.Reader(shapefile_path)

# fields = [x[0] for x in sf.fields][1:]
# records = sf.records()
# shps = [s.points for s in sf.shapes()]

# #write the records into a dataframe
# shapefile_dataframe1 = pd.DataFrame(columns=fields, data=records)
# shapefile_dataframe1 = shapefile_dataframe1.assign(coords=shps)

In [9]:
# shapefile_dataframe1.head()

In [10]:
shapefile_dataframe.head()

,STOP_ID,STOP_NAME,LATITUDE,LONGITUDE,TICKETZONE,ROUTEUSSP,coords
0,19966,Moreland Railway Station (Coburg),-37.754485,144.961823,1,Upfield,"[[144.96182299999998, -37.754484999]]"
1,19967,Anstey Railway Station (Brunswick),-37.761242,144.960684,1,Upfield,"[[144.96068400000001, -37.76124199899999]]"
2,19968,Brunswick Railway Station (Brunswick),-37.767721,144.959587,1,Upfield,"[[144.95958700000006, -37.767720999000005]]"
3,19969,Jewell Railway Station (Brunswick),-37.774987,144.958717,1,Upfield,"[[144.95871699999998, -37.774986998999964]]"
4,19970,Royal Park Railway Station (Parkville),-37.781193,144.952301,1,Upfield,"[[144.95230100000003, -37.781192998999984]]"

In [11]:
shapefile_dataframe['phone_number'] = ''
shapefile_dataframe['suburb'] = ''
shapefile_dataframe['post_code'] = ''
shapefile_dataframe['city'] = 'Melbourne'
shapefile_dataframe['country'] = 'Australia'
shapefile_dataframe['type'] = 'Train'
shapefile_dataframe['address'] = ''

In [12]:
# shapefile_dataframe = shapefile_dataframe[['STOP_NAME', 'LATITUDE', 'LONGITUDE']]

In [13]:
shapefile_dataframe.head()

,STOP_ID,STOP_NAME,LATITUDE,LONGITUDE,TICKETZONE,ROUTEUSSP,coords,phone_number,suburb,post_code,city,country,type,address
0,19966,Moreland Railway Station (Coburg),-37.754485,144.961823,1,Upfield,"[[144.96182299999998, -37.754484999]]",,,,Melbourne,Australia,Train,
1,19967,Anstey Railway Station (Brunswick),-37.761242,144.960684,1,Upfield,"[[144.96068400000001, -37.76124199899999]]",,,,Melbourne,Australia,Train,
2,19968,Brunswick Railway Station (Brunswick),-37.767721,144.959587,1,Upfield,"[[144.95958700000006, -37.767720999000005]]",,,,Melbourne,Australia,Train,
3,19969,Jewell Railway Station (Brunswick),-37.774987,144.958717,1,Upfield,"[[144.95871699999998, -37.774986998999964]]",,,,Melbourne,Australia,Train,
4,19970,Royal Park Railway Station (Parkville),-37.781193,144.952301,1,Upfield,"[[144.95230100000003, -37.781192998999984]]",,,,Melbourne,Australia,Train,

In [14]:
shapefile_dataframe = shapefile_dataframe[['STOP_NAME','address','phone_number','suburb','post_code', 'city', 'country','LATITUDE', 'LONGITUDE', 'type']]

In [15]:
shapefile_dataframe.head()

,STOP_NAME,address,phone_number,suburb,post_code,city,country,LATITUDE,LONGITUDE,type
0,Moreland Railway Station (Coburg),,,,,Melbourne,Australia,-37.754485,144.961823,Train
1,Anstey Railway Station (Brunswick),,,,,Melbourne,Australia,-37.761242,144.960684,Train
2,Brunswick Railway Station (Brunswick),,,,,Melbourne,Australia,-37.767721,144.959587,Train
3,Jewell Railway Station (Brunswick),,,,,Melbourne,Australia,-37.774987,144.958717,Train
4,Royal Park Railway Station (Parkville),,,,,Melbourne,Australia,-37.781193,144.952301,Train

In [16]:
shapefile_dataframe = shapefile_dataframe.replace(np.nan, '', regex=True)

In [17]:
# Check with the suburb information and fill the post_code features

In [18]:
shapefile_dataframe.dtypes
# shapefile_dataframe.head()

STOP_NAME        object
address          object
phone_number     object
suburb           object
post_code        object
city             object
country          object
LATITUDE        float64
LONGITUDE       float64
type             object
dtype: object

In [19]:
# shapefile_dataframe1 = shapefile_dataframe.copy()

In [20]:
shapefile_dataframe.head()

,STOP_NAME,address,phone_number,suburb,post_code,city,country,LATITUDE,LONGITUDE,type
0,Moreland Railway Station (Coburg),,,,,Melbourne,Australia,-37.754485,144.961823,Train
1,Anstey Railway Station (Brunswick),,,,,Melbourne,Australia,-37.761242,144.960684,Train
2,Brunswick Railway Station (Brunswick),,,,,Melbourne,Australia,-37.767721,144.959587,Train
3,Jewell Railway Station (Brunswick),,,,,Melbourne,Australia,-37.774987,144.958717,Train
4,Royal Park Railway Station (Parkville),,,,,Melbourne,Australia,-37.781193,144.952301,Train

In [21]:
shapefile_dataframe['suburb_name'] = shapefile_dataframe['STOP_NAME'].apply(lambda x: re.findall('\((.*?)\)',x)).str[0]
shapefile_dataframe['STOP_NAME'] = shapefile_dataframe['STOP_NAME'].str.replace(r"\(.*\)","")
shapefile_dataframe.head(10)

,STOP_NAME,address,phone_number,suburb,post_code,city,country,LATITUDE,LONGITUDE,type,suburb_name
0,Moreland Railway Station,,,,,Melbourne,Australia,-37.754485,144.961823,Train,Coburg
1,Anstey Railway Station,,,,,Melbourne,Australia,-37.761242,144.960684,Train,Brunswick
2,Brunswick Railway Station,,,,,Melbourne,Australia,-37.767721,144.959587,Train,Brunswick
3,Jewell Railway Station,,,,,Melbourne,Australia,-37.774987,144.958717,Train,Brunswick
4,Royal Park Railway Station,,,,,Melbourne,Australia,-37.781193,144.952301,Train,Parkville
5,Flemington Bridge Railway Station,,,,,Melbourne,Australia,-37.788140,144.939323,Train,North Melbourne
6,Macaulay Railway Station,,,,,Melbourne,Australia,-37.794267,144.936166,Train,North Melbourne
7,North Melbourne Railway Station,,,,,Melbourne,Australia,-37.806310,144.941510,Train,West Melbourne
8,Clifton Hill Railway Station,,,,,Melbourne,Australia,-37.788657,144.995417,Train,Clifton Hill
9,Victoria Park Railway Station,,,,,Melbourne,Australia,-37.799158,144.994451,Train,Abbotsford

## Read the suburb information for providing the suburb post code of the location

In [22]:
df_suburbs = pd.read_csv('C:/Users/Mohit Monpara/Desktop/IE/New Data Sources/suburbs_postcode.csv')

In [23]:
df_suburbs.head()

     PC                                          Suburbs
0  3000                                    Melbourne Cbd
1  3002                         East Melbourne, Jolimont
2  3004                                        Melbourne
3  3006                                        Southbank
4  3011  Coode Island, Footscray, Footscray West, Seddon

In [24]:
# df_suburbs = df_suburbs.copy()

In [25]:
df_suburbs.columns = ['post_code', 'Suburbs']
# df_suburbs = df_suburbs[['post_code', 'Suburbs']]
df_suburbs.head()

   post_code                                          Suburbs
0       3000                                    Melbourne Cbd
1       3002                         East Melbourne, Jolimont
2       3004                                        Melbourne
3       3006                                        Southbank
4       3011  Coode Island, Footscray, Footscray West, Seddon

In [26]:
df_suburbs.dtypes

post_code     int64
Suburbs      object
dtype: object

In [27]:
# df_suburbs['post_code'] = df_suburbs.post_code.astype(int)

#  Adding the post code to the data

In [28]:
def lookup_prod(ip):
    for row in df_suburbs.itertuples():
        if ip in str(row.Suburbs):
            return row.post_code
    else:
        return 'N/A'

In [29]:
shapefile_dataframe['post_code'] = shapefile_dataframe['suburb_name'].apply(lookup_prod)
shapefile_dataframe.head()

,STOP_NAME,address,phone_number,suburb,post_code,city,country,LATITUDE,LONGITUDE,type,suburb_name
0,Moreland Railway Station,,,,3058,Melbourne,Australia,-37.754485,144.961823,Train,Coburg
1,Anstey Railway Station,,,,3055,Melbourne,Australia,-37.761242,144.960684,Train,Brunswick
2,Brunswick Railway Station,,,,3055,Melbourne,Australia,-37.767721,144.959587,Train,Brunswick
3,Jewell Railway Station,,,,3055,Melbourne,Australia,-37.774987,144.958717,Train,Brunswick
4,Royal Park Railway Station,,,,3052,Melbourne,Australia,-37.781193,144.952301,Train,Parkville

In [30]:
# shapefile_dataframe = shapefile_dataframe[['STOP_NAME','address','phone_number','suburb','post_code', 'city', 'country','LATITUDE', 'LONGITUDE', 'type']]
# shapefile_dataframe.head()

In [31]:
shapefile_dataframe[shapefile_dataframe['post_code'] .isnull()]

Empty DataFrame
Columns: [STOP_NAME, address, phone_number, suburb, post_code, city, country, LATITUDE, LONGITUDE, type, suburb_name]
Index: []

In [32]:
shapefile_dataframe['post_code'] = shapefile_dataframe['post_code'].apply(pd.to_numeric,errors='coerce')

In [33]:
# shapefile_dataframe = shapefile_dataframe.replace(np.nan, '', regex=True)

In [34]:
# shapefile_dataframe['post_code'] = shapefile_dataframe['post_code'].astype(str)

shapefile_dataframe['post_code'] = shapefile_dataframe['post_code'].fillna(0).astype(int)

In [35]:
shapefile_dataframe.dtypes

STOP_NAME        object
address          object
phone_number     object
suburb           object
post_code         int32
city             object
country          object
LATITUDE        float64
LONGITUDE       float64
type             object
suburb_name      object
dtype: object

In [36]:
shapefile_dataframe.to_csv('C:/Users/Mohit Monpara/Desktop/IE/New Data Sources/check_train_station_locations_PTV.csv')

#  after manual addition of some of the suburb

In [37]:
shapefile_dataframe = pd.read_csv('C:/Users/Mohit Monpara/Desktop/IE/New Data Sources/authorised locations/check_train_station_locations_PTV.csv')

In [38]:
shapefile_dataframe.dtypes

Unnamed: 0        int64
STOP_NAME        object
address         float64
phone_number    float64
suburb          float64
post_code         int64
city             object
country          object
LATITUDE        float64
LONGITUDE       float64
type             object
suburb_name      object
dtype: object

In [39]:
shapefile_dataframe = shapefile_dataframe.replace(np.nan, '', regex=True)

In [40]:
shapefile_dataframe = shapefile_dataframe[['STOP_NAME','address','phone_number','suburb','post_code', 'city', 'country','LATITUDE', 'LONGITUDE', 'type']]
shapefile_dataframe.head()

,STOP_NAME,address,phone_number,suburb,post_code,city,country,LATITUDE,LONGITUDE,type
0,Moreland Railway Station,,,,3058,Melbourne,Australia,-37.754485,144.961823,Train
1,Anstey Railway Station,,,,3055,Melbourne,Australia,-37.761242,144.960684,Train
2,Brunswick Railway Station,,,,3055,Melbourne,Australia,-37.767721,144.959587,Train
3,Jewell Railway Station,,,,3055,Melbourne,Australia,-37.774987,144.958717,Train
4,Royal Park Railway Station,,,,3052,Melbourne,Australia,-37.781193,144.952301,Train

In [41]:
shapefile_dataframe.shape

(217, 10)

### Merging the files with the original file containing Police and hospital locations

In [42]:
shapefile_dataframe.dtypes

STOP_NAME        object
address          object
phone_number     object
suburb           object
post_code         int64
city             object
country          object
LATITUDE        float64
LONGITUDE       float64
type             object
dtype: object

In [43]:
shapefile_dataframe.columns = ['display_name','address','phone_number','suburb','post_code', 'city', 'country','lat', 'lon', 'type']
shapefile_dataframe.dtypes

display_name     object
address          object
phone_number     object
suburb           object
post_code         int64
city             object
country          object
lat             float64
lon             float64
type             object
dtype: object

In [44]:
df_all = pd.read_csv('C:/Users/Mohit Monpara/Desktop/IE/Lost and found items/Locations/Final_authorise_locations_with_displayname_modification_iteration3.csv')

In [45]:
df_all.drop('location_id', axis=1, inplace=True)

In [46]:
df_all.dtypes

display_name     object
address          object
phone_number    float64
suburb          float64
post_code         int64
city             object
country          object
lat             float64
lon             float64
type             object
dtype: object

In [47]:
df_all.shape

(390, 10)

In [48]:
df_all[df_all['type'] == 'Train']

Empty DataFrame
Columns: [display_name, address, phone_number, suburb, post_code, city, country, lat, lon, type]
Index: []

In [49]:
df = df_all.append(shapefile_dataframe)

In [50]:
df['location_id'] = range(1, len(df) + 1)

In [51]:
df.shape

(607, 11)

In [52]:
df = df[['location_id','display_name','address','phone_number','suburb','post_code', 'city', 'country','lat', 'lon', 'type']]

In [53]:
df = df.replace(np.nan, '', regex=True)

In [54]:
df.head()

,location_id,display_name,address,phone_number,suburb,post_code,city,country,lat,lon,type
0,1,Railway Parade,,,,3023,Melbourne,Australia,-37.776937,144.770583,Police
1,2,Craigieburn,,,,3064,Melbourne,Australia,-37.598677,144.933149,Police
2,3,Victoria Police Forensic Services,,,,3081,Melbourne,Australia,-37.725108,145.058055,Police
3,4,Bacchus Marsh Police Station,,,,3340,Melbourne,Australia,-37.675758,144.435951,Police
4,5,Meredith Police Station,,,,3333,Melbourne,Australia,-37.846519,144.075991,Police

In [55]:
df.to_csv('C:/Users/Mohit Monpara/Desktop/IE/New Data Sources/authorised locations/Final_authorised_locations.csv')